// Place all the styles related to the rooms/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Bring up the playlist */

#visible-playlist {
  position: relative;
  float: left;
  // left: -4500px;
  display: block;
  top: 40%;
  width: 600px;
}

#hidden {
  position: relative;
  float: left;
  left: -4500px;
  display: block;
  visibility: none;
  top: 40%;
  width: 650px;
}

.room-playlist {
  position: relative;
  background-color:rgba(246, 246, 246, 0.71);
  // padding: 12px;
  padding: 1%;
  border: 1px solid rgb(133, 133, 133);
  width: 90%;
  height: 80%;
  top: 20px;
  font-size: 1em;
  color: rgb(172, 172, 172);
  max-height: 500px;
  overflow: auto;
  margin: 0 7% 7% 5%;
}

div.tracks {
  height: auto;
  overflow: auto;
  margin-bottom: 10px;  
}

.tracks img {
  height: auto;
  margin-right: 8px;
  float: left;
}

.tracks p {
}

.tracks .comment-text {
  margin-top: 5px;
  font-size: 0.75em;
  color: #ff7700;
  float: left;
  position: absolute;
  bottom: 10px;
}

span.time-style {
  position: absolute;
  left: 450px;
  top: 8px;
}

h1.name-style {
  font-size: 1.12em;
  width: 415px;
  color: #acacac;
  text-shadow: none;
}

/* CSS Only for User's Index Page START */
img.img-style2 {
  padding-left: 5%;
}

h1.name-style2 {
  padding-right: 50%;
  padding-left: 20%;
  font-size: 1.12em;
  font-weight: 200;
  color: #5A5454;
  text-shadow: none;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.time-style2 {
  font-size: 1.12em;
  color: #acacac;
  position: absolute;
  right: 30%;
  top: 8px; 
}

/* CSS Only for User's Index Page END */

div.tracks {
  position: relative;
}

.room-playlist h3 {
  color: #F37100;
  // font-family: 'Pacifico', cursive;
  // text-shadow: 6px 6px 4px rgba(0,0,0,0.2);
}

div#songs-on-page-tab {
  background-color: rgba(21, 21, 33, 0.28);
  font-size: 1em;
  cursor: pointer;
  color: white;
  float: left;
  padding: 12px;
  border: 1px solid white;
  border-radius: 9px;
  line-height: 1em;
  margin-top: 2%;
}

div#songs-on-page-tab:hover {
  background-color: rgba(239, 239, 246, 0.28);
  transition: background-color 300ms ease-out;
}


/*======== PLAYER BUTTON FUNCTIONS ==========*/

i.fa.fa-play.fa-2x.play-btn:hover,
i.fa.fa-pause.fa-2x.pause-btn:hover,
i.fa.fa-fast-forward.fa-2x.skip-btn:hover {
  color: white;
  transition: color 200ms ease-out;
}

i.fa.fa-volume-off.fa-2x.mute-btn:hover {
  color: red;
  transition: color 200ms ease-out;
}

i.fa.fa-volume-down.fa-2x.med-vol-btn:hover {
  color: rgb(42, 206, 201);
  transition: color 200ms ease-out;
}

i.fa.fa-volume-up.fa-2x.high-vol-btn:hover {
  color: rgb(64, 182, 10);
  transition: color 200ms ease-out;
}



/*========= Player playing function ======= */

.tracks.selected-song {
  * {
    color: red;
    }
  }

.tracks.selected-song {
  color: red;
}

/*========================================= */
  

.progressBar {
    background-color: #FFF;
    height: 15px;
  }

  #progressBarBackground{
    background-color: #333333;
    height: 15px;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }


@media screen and (min-width: 400px) and (max-width: 1025px){
  #songs-on-page-tab {
    width: 100%;
    text-align: center;
    }

    .room-playlist {
      width: 100%;
    }

  }

