<h1>User's Page</h1>



<% if current_user %>
  Logged in as <%=current_user[:soundcloud_username]%>
  <%= link_to 'logout','/auth/logout' %>
<% else %>
  <%= link_to 'login with soundcloud','/auth/soundcloud' %>
<% end %>