<div class="footer fullwidth">
  <div class="large-3 columns auth">
    <% if current_user %>
      <%= link_to '/auth/logout', id: "sc-signout" do %>
        <%= image_tag "btn-disconnect-s.png" %>
      <% end %>  
        <p> Logged in as 
          <%=current_user[:soundcloud_username]%>
        </p>
    <% else %>
      <h6>Log in to share music</h6>
      <%= link_to '/auth/soundcloud', id: "sc-signin" do %>
          <%= image_tag "btn-connect-sc-s.png" %>
      <% end %>
    <% end %>
  </div>

  <div class="large-1 columns link-1">
    <ul class="center">
      <li><a href="#">Dashboard</a></li>
      <i class="fi-[icon]"></i>
    </ul>
  </div>

  <div class="large-1 columns link-2">
    <ul class="center">
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <div class="large-1 columns link-3">
    <ul class="center">
      <li><a href="#">Who?</a></li>
    </ul>
  </div>

  <div class="large-3 columns create-room-btn">
     <ul class="center">
      <li><a href="#">Create a Room</a></li>
    </ul>
  </div>

  <div class="large-3 columns join-room-btn">
     <ul class="center">
      <li><a href="#">Join a Room</a></li>
    </ul>
  </div>


</div>

