  
<div class="row">
  <div class="large-12 column">
    <div class="panel right top-auth">

      <% if current_user %>
        <h6> Logged in as 
          <%=current_user[:soundcloud_username]%>
        </h6>
        <%= link_to '/auth/logout', id: "sc-signout" do %>
          <%= image_tag "btn-disconnect-s.png" %>
        <% end %>
      <% else %>
        <h6>Log in to share music</h6>
        <%= link_to '/auth/soundcloud', id: "sc-signin" do %>
          <%= image_tag "btn-connect-sc-s.png" %>
        <% end %>
      <% end %>
    </div> 
  </div>
  <div class="small-1 column curo">
  </div>
  <div id="" class="">
    <h1>CuroBeats</h1>
  </div>

  <hr />

</div>