<h1>Exhibit Your Sound</h1>
<div class="row">
<div class="row spacer"></div>
  <div class="large-4 columns public-list">
    <h3>Public Rooms</h3>
    <% @room.each do |room| %>
      <span data-tooltip class="has-tip" title="__ tracks in list">
        <%= link_to room.name, room_path(room) %>
      </span>
      <br />
      <hr />
    <% end %>
  </div>

  <div class="large-3 columns">
    
  </div>
</div>  

