<h1 class="tag-line">Exhibit Your Sounds</h1>
<!-- <div id="spiral"></div> -->  
<div class="large-6 columns welcome-content">
  <h4>Curate the Vibe</h4>
    <p>It's simple! Curobeats works off your activity in soundcloud. As you explore and like music in soundcloud, you are filling up your lists in curobeats. The listener can contribute as a curator or enjoy as a consumer.</p>
</div>

<div id="public-rooms" class="large-4">
  <div class="public-rooms">
    <h3>Music Rooms</h3>
    <% @room.each do |room| %>
      <span data-tooltip class="has-tip" title="<%= Song.where("room_id = ?", room.id).count %> tracks in list">
        <%= link_to room.name, room_path(room) %>
      </span><br /><hr>
    <% end %>
  </div>
  <!-- <div class="large-3 columns"></div> -->
</div>

