<h1>Exhibit Your Sound</h1>
<!-- <div id="spiral"></div> -->  
<div class="large-6 columns welcome-content">
  <h4>Play well will others</h4>
    <p>Fashion axe meggings next level fap, food truck typewriter Marfa pop-up. Cred PBR&B post-ironic tousled direct trade ethical. Dreamcatcher readymade fingerstache PBR Truffaut, YOLO pickled authentic cardigan mixtape ugh. Keffiyeh cornhole pour-over messenger bag, Tumblr mixtape food truck. Selfies slow-carb pug, chambray gastropub jean shorts.</p>
</div>

<div id="public-rooms" class="large-4">
  <div class="public-rooms">
    <h3>Music Rooms</h3>
    <% @room.each do |room| %>
      <span data-tooltip class="has-tip" title="<%= Song.where("room_id = ?", room.id).count %> tracks in list">
        <%= link_to room.name, room_path(room) %>
      </span><br /><hr>
    <% end %>
  </div>
  <!-- <div class="large-3 columns"></div> -->
</div>

