<h1> <%= @room.name %> </h1>


<div>
<h2>Room's Playlist</h2>
 
<h3>Add a new song to the playlist</h3>
<% @songs.each do |song| %>
  <%= song.url %><br />
<% end %>
</div>
<br />

  <div style=" border: solid 2px; height:100px; width:350px; overflow:scroll;">
    <ol>  
      <li>www.url01.com <%=button_to(songs_path(@room), method: "post") %></li>
      <li>www.url02.com <button>Add</button></li>
      <li>www.url03.com <button>Add</button></li>
      <li>www.url04.com <button>Add</button></li>
      <li>www.url05.com <button>Add</button></li>
      <li>www.url06.com <button>Add</button></li>
      <li>www.url07.com <button>Add</button></li>
    </ol>    
  </div>

 

 




