<h1> <%= @room.name %> </h1>

<!-- Only a User who created a room, can Delete a Room -->
<% if @room.user_id == session[:user_id] %>
  <%= @room.name %> <%= link_to "delete", room_path(@room), method: :delete, data: {confirm: "You sure?"} %>
<% end %>

<div>
  <% if current_user %>
    <h4>Room's Playlist</h4>
    <p>Add a new song to the playlist</p>
    <% @songs.each do |song| %>
      <%= song.url %><br />
    <% end %>
  <% else %>
    <h5 style='color:white; background-color: orange; width: 100%; border: solid orange 3px;'>Please sign in to add to the playlist.</h5>
  <% end %><br />
</div>

<table>
  <thead>
    <tr>
      <th width="200">Tracks from Soundcloud</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SoundCloud track</td>
      <td>
        <a href="#" class="button tiny">Add</a>
      </td>
    </tr>
    <tr>
      <td>some other soundCloud track</td>
      <td>
        <a href="#" class="button tiny">Add</a>
      </td>
    </tr>
    <tr>
      <td>This is good trax</td>
      <td>
        <a href="#" class="button tiny">Add</a>
      </td>
    </tr>
  </tbody>
</table>








