/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require footer
 *= require foundation_and_overrides
 /*
 *= require font-awesome
 */

@import url(http://fonts.googleapis.com/css?family=Francois+One|Pacifico);

 .flash-message{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin-top: 10px;
  color: orange; 
 }

 #public-rooms {
  /*// background-color: rgba(255, 255, 255, 0.3);*/
/*  background-color: rgba(255, 255, 255, 0.89);
  padding-top: 1%;
  width: 40%;
  list-style: none;
  border-top: 30px solid white;
  border-bottom: 30px solid white;
  margin-bottom: 2%;*/
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 30px;
  padding: 2% 3% 2% 4%;
  margin-bottom: 2%;
  top: 20;
  float: right;
}

.public-rooms a {
  font-weight: 300;
  font-size: 1.4em;
}

.public-rooms h3 {
  font-weight: 300;
  font-family: 'Francois One', sans-serif;
}

@media screen and (min-width: 400px) and (max-width: 1025px){

  #public-rooms {
    width: 100%;
  }

}

.dashboard-icon {
  font-size: 2em;
}
/*=========== TOP HEADER ============*/

div.header {
  margin-left: 2%;
}

div.header h1 {
  font-size: 4em;
  font-family: 'Francois One', sans-serif;
  color: rgb(84, 84, 84);
}

