div.footer {
  font-weight: 200;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: white;
  height: 10%;
  clear: both;
}

div.large-12.columns.footer p {
  font-weight: 100;
  letter-spacing: 1px;
}

div.footer {
  font-weight: 200;
}

div.footer p {
  font-weight: 200;
}
