div.footer {
  font-weight: 200;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  height: 8%;
  clear: both;
}

div.large-12.columns.footer p {
  font-weight: 100;
  letter-spacing: 1px;
}

@media screen and (min-width: 400px) and (max-width: 1025px){

  div.footer {
    position: relative;
  }

}


// =========== BUTTON STYLES ===========

.join-room-btn, 
.create-room-btn {
  text-align: center;
}

.create-room-btn {
  border-top: 10px solid royalblue;
}

.join-room-btn {
  border-top: 10px solid rgb(148, 225, 65);
}

.link-1,
.link-2,
.link-3,
.create-room-btn,
.join-room-btn {
  background-color: whitesmoke; 
  text-align: center;
 
}


.link-1 {
  border-top: 10px solid rgb(206, 255, 11);
}

.link-2 {
  border-top: 10px solid #00FFC2;
}

.link-3 {
  border-top: 10px solid #6FB3FC;
}

.link-1:hover {
  border-top: 10px solid #FFFD0B;
  transition: 200ms ease-in;
}

.link-2:hover {
  border-color: #FFA600;;
  transition: 200ms ease-in;
}

.link-3:hover {
  border-color: #FD00FF;
  transition: 200ms ease-in;
}

.join-room-btn:hover {
  border-color: #FF0000;
  transition: 200ms ease-in;
}

div.footer p {
  font-weight: 200;
}

div.footer.fullwidth ul {
  padding-top: 1%;
  list-style: none;
}

// =========== Login Auth Button ===========

.auth {
  padding-top: 12px;
  text-align: center;
}

// =========== Rooms List on Click - Nav Bar ===========
.rooms-list {
  width: 100%;
  min-height: 325px;
  height: auto;
  padding: 2%;
  background-color: white;
  position: absolute;
  right: 0px;
  bottom: 0;
  text-align: left;
  z-index: -1;
}

.hide-class {
  display:  none;
}

.rooms-list h1 {
  font-size: 1.25em;
  color: #FF7700;
  text-shadow: none;
  /*background-color: white;*/
}

.rooms-list h4 {
  font-size: 1em;
}







