// Place all the styles related to the pusher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pusher-chat-widget-messages {
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.09);
  background-color: rgba(223, 223, 223, 0.76);
  overflow-y: auto;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}

a.screen-name {
  font-size: 1em;
  color: #5D5C5C;
  letter-spacing: .2em;
  font-weight: 600;
}

div.text {
  letter-spacing: .1em;
}

a.timestamp {
  font-size: x-small;
}