// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-bg: url('space-clouds.jpg');

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html { 
  // background-color: rgba(65,0,92, 1); 
  background-image: linear-gradient(to bottom, #C643FC 0%, #FF5F37 100%);
  // background-color: #FF7700; 
} 

body { 
  margin:0;
}

div.row.large-12 {
clear: both;
}

.fullwidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.curo {
  height: 50px;
  width: 50px;
  top: 20px;
  border: 10px solid white;
  margin-right: 2%;  
}
// ====== BACKGROUND GRADIENT ====== 


.gradient {
  content: ""; height: 50%; width: 100%; position: fixed; z-index: -100;
}

// .gradient.one {
//   background-image: linear-gradient(to bottom, #5856D6 0%, #C644FC 100%);
// }

.gradient.two {
  background-image: linear-gradient(to bottom, #C643FC 0%, #FF5F37 100%); display:none;
}

// .wrapper {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -155px;
// }

// .footer, .push {
//   height: 155px; /* .push must be the same height as .footer */
// }

// ====== TYPOGRAPHY ======   

h1 {
  color: white;
  font-size: 4em;
}

h2 {
  color: #FF7700;
  font-size: 2em;
}

h3 {
  font-weight: 200;
}

.test-wrap {

}

hr {
  border: 1px dotted white;
}

.has-tip {
  border: none;
  cursor: help;
  color: #333333;
  font-weight: 100; 
}

.has-tip:hover {
  border-bottom: none;
}

// .top-card {
//   background: rgba(70, 69, 66, 0.23);
//   padding-left: 2%;
//   padding-bottom: 2%;
//   margin-bottom: 30px;
// }

.room-content {
  position: relative;
}


.top-auth {
  background-color: rgba(255, 255, 255, 0.3);
}

.panel {
  border-style: none;
}

div.public-list-item {

}

div.public-list-item:hover {
  background-color: rgba(39, 39, 39, 0.07);
}


.public-list {
  // background-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255,255,255,0.5);
  padding-top: 1%;
  list-style: none;
  border-top: 30px solid white;
  border-bottom: 30px solid white;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 12%;
}

.public-list ul {
  list-style-type: none;
}

.public-list a {
  font-family: Helvetica;
  color: #000000;
  letter-spacing: 1px;
  line-height: 50px;
}

.public-list a:hover {
  transition: 100ms ease-in;
  color: #FF0073;
}

.spacer {
  height: 75px;
}

.table-overflow {
  overflow-y: scroll;
  width: 100%;
  max-width: 900px;
}

// ====== BACKGROUND STYLES ======   
#spiral {
  top: -20%;
  left: 10%;
  z-index: -10;
  position: fixed;
  background-repeat: normal;
  opacity: 1;
}

#spiral2 {
    top:-100px;
    left:1%;
    z-index: -10;
    position: fixed;
}

// ====== ADD/REMOVE BUTTON STYLES ======  

.button-add{
  background-color: #00BA70;
}

.button-remove{
  background-color: #BA0000;
}

