// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-message{
  background-color: lightgrey;
  width: 30%;
  z-index: 0;
}

.error-message-header{
  background-color: red;
  font-family: Arial;
  font-size: 0.95em;
  padding: 2%;
  color: white;
  z-index: 1;
}

.error-message-body{
  font-family: Arial;
  font-size: 0.85em;
  color: black;
  z-index: 2;
  padding-bottom: 5%;
}
// Room tabs
#room-option-tab {
  top: 28;
  border-radius: 0px 90px 90px 0px;
  background-color: whitesmoke;
  padding-bottom: 2%;
}

#hidden-room {
  position: relative;
  float: right;
  right: -4500px;
  display: block;
  visibility: none;
  top: 40%;
  width: 500px;
}

// Dashboard

#dashboard {
  background-color: whitesmoke;
  border-radius: 30px 30px 0px 0px;
  height: 100%;
}

#favorite-track-section {
  position: relative;
  width: 80%;
  height: 260px;
  margin-left: 15%;
  margin-top: 5%;
}

#favorite-track-table {
  width: 80%;
  height: 200px;
  overflow-y: scroll;
  padding: 1%;
  border: 3px solid rgb(236, 236, 236);
  border-radius: 9px;
  margin-top: 2%;
  background-color: white;
}

.new-room-create {
  border: 2px solid #000;
}

